repos:
  - repo: local
    hooks:
      - id: build-and-test
        name: build and test
        entry: scripts/build-and-test.sh
        language: system
        always_run: true
        pass_filenames: false
